@model WebApp.Domain.Component

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xs-12">
        <h4>@Model.Name</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <img class="img-responsive" alt="@Model.Name" src="~/wwwroot/images/@(Model.Sku).jpg" />
    </div>
    <form asp-controller="Products" asp-action="Details" data-ajax="true" data-ajax-method="POST" data-ajax-update="divProductDetails" data-ajax-loading="#spinner">
        @Html.HiddenFor(x => x.Id)
        <div class="col-md-7" id="divProductDetails">
            <div class="description">
                <p>@Html.Raw(Model.Description)</p>
                @if (Model.KitComponents.Any())
                {
                    <p>Kit Contains</p>
                    <ul class="components">
                        @foreach (var c in Model.KitComponents)
                        {
                            <li>@c.Qty x @c.Name @Html.ActionLink("view item", "Details", "Products", new { c.Id }, new { @class = "btn btn-xs btn-default" })</li>
                        }
                    </ul>
                }
            </div>
            <p>Price: £@Model.Price</p>
            <p>Stock: @Model.StockQty</p>
            <p>Quantity: <input type="text" name="qty" value="1" /></p>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @ViewBag.Message
                </div>
            }

            <p>
                <button type="submit" class="btn btn-primary clearfix">Buy</button> <span id="spinner" style="display:none"><i class="fas fa-spinner fa-spin"></i></span>
                @Html.ActionLink("Go Back", "Index", "Products", null, new { @class = "btn btn-primary" })
            </p>
        </div>
    </form>

</div>
